{% extends 'base.html.twig' %}

{% block title %}Par catégorie{% endblock %}

{% block body %}
    <h1>Toutes les séries de la catégorie : {{ category.name }}</h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.id }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('wild_index') }}">
        Retour au programme
    </a>
{% endblock %}