{% extends 'base.html.twig' %}
{% block body %}
    <h1>Season {{ season.number }}</h1>
    <p>{{ season.description }}</p>
    {% for episode in season.episodes %}
    <div>
        <h2>
            <a href="{{ path('episode', {'id': episode.id}) }}">
                {{ episode.number }}
            </a> - {{ episode.title }}</h2>
    </div>
    {% endfor %}
{% endblock %}
