{% extends 'base.html.twig' %}
{% block body %}
    <h1>Season {{ season.number }}</h1>
    <p>{{ season.description }}</p>
    {% for episode in season.episodes %}
    <div>
        <h2>{{ episode.number }} - {{ episode.title }}</h2>
        <p>{{ episode.synopsis }}</p>
    </div>
    {% endfor %}
{% endblock %}