{% extends 'base.html.twig' %}

{% block title %}Les saisons de {{ program.title }}{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
        <div>
            <h2> {{ program.title }} - Catégorie : <a href="{{ path('category', {categoryName: program.category.name |lower }) }}">{{ program.category.name }}</a></h2>
            <p>{{ program.summary }}</p>
        </div>
    {% for season in program.seasons %}
        <h1><a href="{{ path('season', {seasonId: season.id}) }}">Season {{ season.number }}</a> / {{ season.year }}</h1>
        <p>{{ season.description }}</p>
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
